<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BonziBuddy-Online</title>
    <link rel="stylesheet" href="../static/formulaire_style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="../static/BonziBuddy.png" alt="Icône inscrutable" class="icone">
            <button class="bonzi-button" onclick="window.location.href='inscription';">Accéder à Bonzi</button>
        </header>

        <main>
            <h1 class="main-title">BonziBuddy : Le Compagnon Digital Qui Revient Pour Vous Faire Sourire !</h1>
            <p class="main-text">
                Dans les années 2000, BonziBuddy était bien plus qu'un simple programme. Avec son sourire malicieux et son humour décalé, il a conquis les écrans et les cœurs de millions d'utilisateurs à travers le monde.
                Et aujourd'hui, il revient en ligne, prêt à illuminer vos journées, où que vous soyez. Plus accessible,  mais toujours aussi attachant, BonziBuddy est là pour vous faire sourire comme au bon vieux temps.
            </p>
            <br>
            <img src="../static/Bonzi_online.png" class="bonzi_online">
            <h2 class="title">Plongée dans le passé : La vidéo de présentation originale de BonziBuddy !</h2>
            <p class="main-text">
                Rien de tel qu'un voyage dans le temps pour redécouvrir l'essence de BonziBuddy. Nous avons retrouvé une vidéo iconique de l'époque, où notre singe favori se présentait au monde avec tout son charme rétro et son humour décalé.
                <br>
                Cliquez ici pour revivre cette l'introduction légendaire :
            </p>
            <a class="mini-title" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">https://www.youtube.com/embed/dQw4w9WgXcQ</a>
            <h3 class="sous-title">Prêt à revivre l'expérience BonziBuddy ?</h3>
            <p class="main-text">
                Cliquez sur "Accéder à Bonzi" et laissez-vous séduire par le singe le plus célèbre du web des années 2000. BonziBuddy vous attend pour des moments inoubliables.
            </p>
            <footer class="footer">
                <img src="../static/bonzi_footer.png" style="display: block; margin: auto;">
            </footer>
        </main>
    </div>
</body>
</html>
