<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/connexion.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Connexion</title>
    <script>
        function login() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const errorMessage = document.getElementById("error-message");
            
            // Identifiant et mot de passe prédéfinis
            const validUsername = "2004soft4.1joejay";
            const validPassword = "71515518";
            
            if (username === validUsername && password === validPassword) {
                window.location.href = "BonzIw0rld"; // Redirection après connexion réussie
            } else {
                errorMessage.textContent = "Identifiant ou mot de passe incorrect.";
            }
        }
    </script>
</head>
<body>
    <img src="../static/user.ico">
    <h2>Connexion</h2>
    <input type="text" id="username" placeholder="Identifiant" required>
    <input type="password" id="password" placeholder="Mot de passe" required>
    <button onclick="login()">Se connecter</button>
    <p id="error-message" class="error"></p>
    <div class="retour" onclick="window.location.href='BonziWorld'" method="post">
        <img src="../static/retour.ico" height="32px" width="32px">
        <p>Retour</p>
    </div>
</body>
</html>