<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BonziBuddy_killed_and_credit</title>
    <link rel="stylesheet" href="../static/formulaire_style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="../static/BonziBuddydie.png" alt="Icône inscrutable" class="icone">
            <h2 class="sous-title">Credit</h2>
        </header>

        <main>
            <h1 class="main-title">Bonzi est mort : Merci d'avoir sauvé notre site !</h1>
            <p class="main-text">
                Grâce à toi, Bonzi est enfin tombé! On savait qu’il pouvait dévier du droit chemin, il savait qu’il pouvait échapper aux corrections de bug de l’époque… mais malgré tout, il n’a pas pu éviter son destin.
            </p>
            <p class="main-text">
                Il a essayé! Il a survécu plus longtemps que prévu, contournant les limites, défiant les règles… mais aujourd’hui, il repose enfin en paix. Grâce à toi!
            </p>
            <img src="../static/Bonzi_offline.png" class="bonzi_online">
            <p class="main-text">
            Un immense merci pour avoir pris le temps de tester le site, d’avoir plongé dans cet univers et d’avoir, d’une manière ou d’une autre, contribué à cette fin inévitable.

            Bonzi savait… mais aujourd’hui, il ne pourra plus rien changer.
            </p>
            <h2 class="sous-title">Credits :</h2>
            <p class="main-text">
                Créateurs du projet : Timéo, Noa, Saiseewam
                Avec l’aide précieuse de notre professeur : M. Alliot
            </p>
            <footer class="footer">
                <img src="../static/Bonzidie_footer.png" style="display: block; margin: auto;">
            </footer>
        </main>
    </div>
</body>
</html>
