<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/id_style.css">
</head>
<body>
    <div class="background"> <img src="../static/carte_identite.jpg"></div>
    <img class="screenshot" src="{{screenshot}}">
    <p class="n°">2049584374173</p>
    <p class="n°_bas">076173</p>
    <p class="n°_bas2">9403850m7</p>
    <p class="num_pr">20495843741732{{prenom}}</p>
    <p class="id">idfra{{nom}}</p>
    <p class="nom">{{nom}}</p>
    <p class="prenom">{{prenom}}</p>
    <p class="prenom2">{{prenom}}</p>
    <p class="naissance">{{jour}}/{{mois}}/{{annee}}</p>
    <p class="sexe">{{sexe}}</p>
    <p class="taille">{{taille}}</p>
</body>