<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/wiki.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BonziBuddy - Wikipédia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div id="container">
        <h1>BonziBuddy</h1>
        <div class="infobox">
            <img src="../static/tete_bonzi.png" width="40px" height="auto" alt="BonziBuddy">
            <h2><strong>Informations</strong></h2>
            <br>
            <p><strong>Développeur :</strong> Joe and Jay Bonzi</p>
            <p><strong>Première version :</strong> 1999</p>
            <p><strong>Dernière version :</strong> 4.1 (2005)</p>
            <p><strong>État du projet :</strong> Abandonné</p>
            <p><strong>Système d'exploitation :</strong> Microsoft Windows</p>
            <p><strong>Environnement :</strong> Microsoft Windows</p>
            <p><strong>Type :</strong> Assistant personnel intelligent, Compagnon virtuel interactif</p>
        </div>
        <div class="content">
            <p><strong>BonziBuddy</strong> (stylisé comme BonziBUDDY) était un assistant virtuel de bureau gratuit créé par Joe et Jay Bonzi. Véritable compagnon numérique, il divertissait les utilisateurs avec des blagues, des anecdotes, et des chansons, tout en leur apportant une assistance précieuse pour naviguer sur Internet et organiser leurs tâches.</p>
            <p>Grâce à son intelligence et à sa personnalité attachante, BonziBuddy a marqué toute une génération d'utilisateurs en rendant l'expérience informatique plus ludique et interactive. Son interface conviviale et ses nombreuses fonctionnalités en faisaient un assistant incontournable de l'époque.</p>
            <h3>Caractéristiques</h3>
            <ul>
                <li>Interaction vocale immersive</li>
                <li>Lecture de textes pour une accessibilité améliorée</li>
                <li>Accompagnement dans la navigation Internet</li>
                <li>Mini-jeux et blagues pour divertir l'utilisateur</li>
            </ul>
            <h4>Héritage</h4>
            <p>Bien que son développement ait cessé en 2004, BonziBuddy reste un symbole des premiers assistants virtuels interactifs. Son approche novatrice a inspiré de nombreux logiciels modernes et continue d’être appréciée par les passionnés de rétro-informatique.</p>
        </div>        
    </div>
</body>
</html>
